body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #ff6a00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#pedido {
  background: #fff;
  padding: 30px 20px;
  text-align: center;
}

#pedido h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#form-pedido {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form-pedido input,
#form-pedido textarea,
#form-pedido select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#form-pedido button {
  padding: 12px;
  font-size: 16px;
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#form-pedido button:hover {
  background-color: #e65c00;
}
#resumen-pedido p {
  margin: 5px 0;
}
