
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

button {
  background-color: orange;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.producto {
  margin-bottom: 10px;
}

#carrito {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

#carrito h2 {
  font-size: 20px;
}

#carrito ul {
  list-style: none;
  padding: 0;
}

#carrito li {
  margin-bottom: 5px;
}

#carrito button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#formulario {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}
